<div class="main with-value">
    <div class="catalogue-banner">
        <h1>WOMEN'S BAGS</h1>
        <p>The history of the purse is the history of women: women’s changing tastes,
            priorities, and roles in society. </p>
    </div>
    <div class="catalogue-container">

    <%- include('./partials/catalogue_card')%>
    <%- include('./partials/catalogue_card')%>
    <%- include('./partials/catalogue_card')%>
    <%- include('./partials/catalogue_card')%>
    <%- include('./partials/catalogue_card')%>
    <%- include('./partials/catalogue_card')%>


    </div>
</div>